*,
*:before,
*:after {
  box-sizing: border-box;
}
html, body, ul {
  padding: 0;
  margin: 0;
}
html {
  font-size: 1em;
}
body {
  font-size: 100%;
}
a img, :link img, :visited img {
  border: 0;
}

body {
  font-family: 'Open Sans', 'sans-serif';
  background-color: #fff;
  color: #444;
}

header {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  padding: 4vh 2vw 3vh 2vw;
}

.button {
  transition: 0.25s;
  padding: 1em 1em;
  background-color: transparent;
  border-radius: 3px;
  border: 1px;
  line-height: 1;
}

.button:hover,
.button:focus {
  box-shadow: 0.5em 0.5em 0.5em -0.4em #444;
  transform: translateY(-0.25em);
  color: #444;
  cursor: pointer;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workouts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.workout {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-evenly;
  padding: 5px;
  min-width: 20vw;
}

.workout__detail_header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.workout__header {
  width: 100%;
  transition: 0.25s;
  padding: 5px;
}

.workout__header:hover {
  box-shadow: 0.5em 0.5em 0.5em -0.4em #444;
  border-radius: 3px;
  transform: translateY(-0.25em);
}

header a, .workout a, .workout {
  text-decoration: none;
  color: inherit;
}

.workout-detail{
  display: flex;
  flex-direction: column;
}

.workout-detail__back-button {
  width: 25%;
  padding: 1em 0.1em;
  text-decoration: none;
  color: inherit;
}

.workout__name {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

.workout__description {
  display: block;
}

.workout__groups {
  padding: 10px;
}

.group {
  display: grid;
  margin-bottom: 10px;
  grid-gap: 5px;
  padding: 5px;
  border-radius: 3px;
}

.group--single {
  grid-template-columns: 1fr 9fr;
  grid-template-rows: auto;
}

.group--multi {
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 9fr;
}

.group:hover {
  border: 1px dashed rgba(128, 0, 128, 0.1);
  padding: 4px;
  cursor: pointer;
}

.group--active {
  background-color: rgba(128, 0, 128, 0.1);
}

.group__exercises {
  display: flex;
  flex-direction: column;
  grid-row: 2/3;
  grid-column: 2/3;
}

.effort {
  grid-row: 1/1;
}

.exercise {
  align-items: baseline;
}

.exercise--active {
  font-size: 1.8em;
  box-shadow: 0.2em 0.2em 0.2em -0.2em #444;
  border-radius: 3px;
  padding: 10px;
  margin: 5px;
}

.exercise__name {
  font-weight: bold;
  margin-right: 5px;
}

.exercise__log {
  display: block;
  font-size: 0.8em;
}
